html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    z-index: 1;
    background: linear-gradient(45deg, rgba(4, 23, 92, 0.45) 0%, rgba(4, 23, 92, 0.45) 25%,rgba(23, 46, 132, 0.45) 25%, rgba(23, 46, 132, 0.45) 50%,rgba(42, 70, 173, 0.45) 50%, rgba(42, 70, 173, 0.45) 75%,rgba(61, 93, 213, 0.45) 75%, rgba(61, 93, 213, 0.45) 100%),linear-gradient(135deg, rgb(8, 63, 29) 0%, rgb(8, 63, 29) 25%,rgb(39, 70, 68) 25%, rgb(39, 70, 68) 50%,rgb(69, 77, 107) 50%, rgb(69, 77, 107) 75%,rgb(100, 84, 146) 75%, rgb(100, 84, 146) 100%);
    background-position: center;
    background-attachment: fixed;
}

#wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
#toolbar {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    font-size: 2em;
    flex-direction: row-reverse;
    padding: 8px;
    justify-content: end;
    align-items: baseline;
}
.tool {
    background: rgba(0, 0, 0, 0.4) !important;
    height: auto;
    padding: 8px;
    border-radius: 6px !important;
    color: white !important;
}
#itemlist {
    grid-row: 2;
    grid-column: 2;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
@media only screen and (min-width: 600px) {
    #itemlist {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 800px) {
    #itemlist {
        grid-template-columns: repeat(6, 1fr);
    }
}

#itemlist {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 4em;
}
#itemlist > * {
    padding: 15px;
    margin: 0 auto;
}

/* link colors */
#itemlist a {
    color: #fff;
}
#itemlist a:hover {
    color: #c4c4c4;
}

.hidden {
    display: none;
}