@import "./fonts.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    z-index: 1;
}

.gradiant-background {
    background: linear-gradient(rgb(35, 21, 87), transparent),
        linear-gradient(90deg, rgb(68, 16, 122), transparent),
        linear-gradient(-45deg, rgb(255, 19, 97), transparent),
        linear-gradient(-90deg, rgb(255, 248, 0), transparent);
        background-position: center;
        background-attachment: fixed;
}

.geometry-background {
    background: repeating-linear-gradient(
            50deg,
            #f7a37b,
            #f7a37b 2em,
            #ffdea8 2em,
            #ffdea8 4em,
            #d0e4b0 4em,
            #d0e4b0 6em,
            #7cc5d0 6em,
            #7cc5d0 8em,
            #00a2e1 8em,
            #00a2e1 10em,
            #0085c8 10em,
            #0085c8 12em
        ),
        repeating-linear-gradient(
            -50deg,
            #f7a37b,
            #f7a37b 2em,
            #ffdea8 2em,
            #ffdea8 4em,
            #d0e4b0 4em,
            #d0e4b0 6em,
            #7cc5d0 6em,
            #7cc5d0 8em,
            #00a2e1 8em,
            #00a2e1 10em,
            #0085c8 10em,
            #0085c8 12em
        );

        background-position: center;
        background-attachment: fixed;
}

.saturation {
    background-blend-mode: saturation;
}

.difference {
    background-blend-mode: difference;
}

.hue {
    background-blend-mode: hue;
}

.multiply {
    background-blend-mode: multiply;
}

.luminosity {
    background-blend-mode: luminosity;
}

.color {
    background-blend-mode: color;
}

.screen {
    background-blend-mode: screen;
}

.exclution {
    background-blend-mode: exclusion;
}

.hard-light {
    background-blend-mode: hard-light;
}

.soft-light {
    background-blend-mode: soft-light;
}

#searchform {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gsearch {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: transparent;
    border-style: solid;
    font-size: 1.5rem;
    width: 65vw;
    color: #fff;
    font-weight: 300;
    font-family: "Source Sans Pro";
    padding: 15px 15px 15px 2.5em;
    margin: 0 auto;
}

.overlayicon {
    position: absolute;
    color: white;
    width: 65vw;
    pointer-events: none;
    margin-right: 1em;
    font-size: 1.5em;
    text-align: left;
    right: 15vw;
}

@media only screen and (min-width: 1024px) {
    #gsearch {
        font-size: 3rem;
        width: 60vw;
        padding: 15px 15px 15px 2em;
    }

    .overlayicon {
        width: 60vw;
        font-size: 2.5em;
        right: 19vw;
    }
}

#wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr 4fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
}
#toolbar {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    font-size: 2em;
    flex-direction: row-reverse;
    padding: 8px;
    justify-content: end;
    align-items: baseline;
}
.tool {
    background: rgba(0, 0, 0, 0.4) !important;
    height: auto;
    padding: 8px;
    border-radius: 6px !important;
    color: white !important;
}
#itemlist {
    grid-row: 3;
    grid-column: 1 / span 3;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    align-self: center;
    justify-self: center;
}
@media only screen and (min-width: 400px) {
    #itemlist {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 600px) {
    #itemlist {
        grid-template-columns: repeat(6, 1fr);
    }
}

#itemlist {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 4em;
    align-self: center;
    justify-self: center;
}

#itemlist > * {
    padding: 15px;
    margin: 0 auto;
}

/* link colors */
#itemlist a {
    color: #fff;
}
#itemlist a:hover {
    color: #c4c4c4;
}

.hidden {
    display: none;
}
